div::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 0;              /* ширина всей полосы прокрутки */
}

div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar {
    width: 0;       /* округлось бегунка */
}

select::-webkit-scrollbar {
    width: 0;              /* ширина всей полосы прокрутки */
}

select::-webkit-scrollbar-thumb,
select::-webkit-scrollbar {
    width: 0;      /* округлось бегунка */
}
