div::-webkit-scrollbar {
    width: 2px;               /* ширина всей полосы прокрутки */
}

div::-webkit-scrollbar-track {
    background: #9d9d9d;        /* цвет зоны отслеживания */
}

div::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет бегунка */
    border-radius: 100%;       /* округлось бегунка */
}
