/**
 * ItcSlider
 */

.itc-slider {
  position: relative;
}

.itc-slider__wrapper {
  overflow: hidden;
}

.itc-slider__items {
  display: flex;
  transition: transform 1.2s ease-in-out;
  will-change: transform;
}

.itc-slider__transition-none {
  transition: none;
}

.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  will-change: transform;
}
